    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: white;
}
body{
    background-color: #d9d9d9;
}
.row{
    display: flex;
    width: 100%;
}
.row .child1{
    width: 23%;
    line-height: 2;
}
.row .child1 .fa-phone{
    font-size: 60px;
    margin-left: 100px;
    color: white; 
    background-color: green; 
    width: 30%; 
    height: 85px; 
    padding: 10px 10px 10px 15px; 
    border-radius: 10px;
}
.row .child2{
    width: 23%;
    line-height: 2;
}
.row .child2 .fa-folder-open{
    font-size: 60px; 
    margin-left: 113px; 
    color: #ffd633;
    background-color: black;
    width: 31%;
    height: 85px;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
}
.row .child3{
    width: 23%;
    line-height: 2;
} 
.row .child3 .fa-comments{
    font-size: 60px; 
    margin-left: 90px;
    color: white; 
    background-color: green; 
    width: 34%; 
    height: 85px; 
    padding: 10px 10px 10px 15px; 
    border-radius: 10px;
}
.row .child4{
  width: 30%;
}
.row .child4 .fa-location-dot{
    font-size: 70px; 
    margin-left: 160px;
    color: red;
}
.row .child4 h2{
    text-align: center;
    margin: 50px 0px 0px 0px;
}
